services:
  - type: web
    name: whatszap-api
    runtime: node
    region: oregon
    plan: free
    rootDir: api
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/health
